<!--
  @author Blessy 
-->
<!DOCTYPE html>
<html>
<head><title>Edit Provider Profile</title></head>
<body>
  <h1>Edit Profile</h1>
  <form>
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="specialty" placeholder="Specialty"><br>
    <input type="text" name="experience" placeholder="Experience"><br>
    <input type="text" name="location" placeholder="Location"><br>
    <input type="text" name="availability" placeholder="Availability"><br>
    <input type="submit" value="Update Profile">
  </form>
</body>
</html>
